@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    @RenderPage("../Shared/Header.cshtml")
</head>
<body onselectstart="return false">
    <script type="text/javascript" src="@Url.Content("~/webresource/com/compatible.js")"></script>
    @RenderPage("../Shared/BodyLayout.cshtml")
    @RenderBody()
    @RenderPage("../Shared/Footer.cshtml")</body>
</html>